@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --color-primary: #FBDA69;
    --color-secondary: #8875E8;
    --color-gray: #F4F4F4;
    --color-black:#170A01;
    --color-white: #fff; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anonymous Pro', monospace;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

@media all and (min-width: 200px){
    header  {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 85px;
        padding: 20px;
        z-index: 999;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.5s;
    }

    header.sticky {
        background-color: var(--color-white);
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.10);
        padding: 20px;
    }

    header .logo {
        max-width: 110px;
    }

    header .menuToggle {
        position: relative;
        width: 40px;
        height: 40px;
        background: url('./assets/icons/hamburguer.svg');
        background-size: 40px;
        background-repeat: no-repeat;
        background-position: center;
    }

    header .navigation {
        display: none;
    }

    main {
        position: relative;
        width: 100%;
        max-height: 70vh;
        padding-top: 85px;
        background: linear-gradient(to right, var(--color-white) 0%, var(--color-white) 42.5%, var(--color-primary) 42.5%, var(--color-primary) 100%);
     }

    .hero-banner {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .hero-image {
        position: relative;
        min-width: 100%;
        height: 320px;    
    }

    .hero-image img {
        position: relative;
        left: 0;
        width: 80%;
        height: 100%;
        display: block; 
        object-fit: cover;
    } 

    .hero-container {
        position: relative;
        width: 100%;
        background-color: var(--color-black);
        color: var(--color-white);
        padding: 32px 20px;
    }

    .hero-container h1 {
        font-size: 1.5em;
        font-weight: 700;
        line-height: 1em;
        margin-bottom: 0.5em;
    }

    .hero-container h2 {
        font-family: 'Anonymous Pro', monospace;
        font-size: 1em;
        line-height: 1em;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 1.125em;
    }

    .hero-container p {
        font-size: 0.75em;
        font-weight: 500;
        line-height: 1.7em;
        margin-bottom: 3.12em;
    }

    .btn {
        font-size: 1em;
        color: var(--color-white);
        background: var(--color-secondary);
        display: inline-block;
        padding: 18px 26px;
        text-decoration: none;
        transition: 0.5s;
        font-size: 0.87em;
        font-weight: 700;
        line-height: 1.31em;
        letter-spacing: 0.05em;
    }

    .btn:hover {
        letter-spacing: 4px;
        background-color: #5A3FDF;
    }

    .hero-container .circle-text {
        width: 120px;
        position: absolute;
        height: auto;
        bottom: 0%;
        left: 200px;
    }

    .hero-container .circle-text img {
        max-width: 100%;
        vertical-align: middle;
        display: inline-block;
    }
    
    .hero-media {
        position: absolute;
        width: 10%;
        right: 10px;
        top: 120px;
        display: flex;
        gap: 8px;
        flex-direction: column;
        align-items: flex-end;
    }

    .hero-media a {
        display: inline-block;
        margin: 0 auto;
    }

    .hero-media a img {
        cursor: pointer;
    }

   .mkt-banner {
        background-color: var(--color-gray); 
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 48px 24px;
        margin-top: 32px;
   }

   .mkt-banner .mkt-banner--item {
        display: flex;
        align-items: center;
        justify-content: center;
   }

   .mkt-banner .mkt-banner--item img {
        width: auto;
        height: 58px;
        margin-right: 16px;
   }

   .mkt-banner .mkt-banner--item p {
        color: var(--color-black);
        font-family: 'Anonymous Pro', monospace;
        font-size: 0.87em;
        line-height: 1.5em;
        font-weight: 700;
        text-transform: uppercase;
   }

   .benefits {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 40px;
   }

   .title {
        color: var(--color-black);
        font-family: 'Anonymous Pro', monospace;
        font-size: 1.75em;
        font-weight: 700;
        line-height: 1em;
        text-transform: uppercase;
        margin-bottom: 16px;
   }

   .benefits p {
        color: var(--color-black);
        font-size: 0.75em;
        font-weight: 400;
        line-height: 1.8em;
        padding: 0px 8px;
   }

   .card-container {
        position: relative;
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
   }

   .card-item {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        max-width: 346px;
        min-height: 305px; 
        padding: 8px 4px;
        background-color: var(--color-white);
        border: 2px solid var(--color-secondary);
        border-radius: 16px;
   }

   .card-item img {
        width: 80px;
        height: 80px;
        margin-bottom: 32px;
   }

   .card-item .card-item--title {
         color: var(--color-black);
         font-family: 'Anonymous Pro', monospace;
         font-size: 1.25em;
         font-weight: 700;
         text-transform: uppercase;
         margin-bottom: 0.5em;
    }

    .card-item p {
        color: var(--color-black);
        font-size: 0.87em;
        font-weight: 400;
        line-height: 1.5em;
    }

    

   

    
    }
    
    @media all and (min-width: 576px){
    /* sm */
    
    }
    
    @media all and (min-width: 768px){
    /* md */
    
    }
    
    @media all and (min-width: 992px){
    /* lg */
    
    }
    
    @media all and (min-width: 1200px){
    /* xl */
    
    }
    
    @media all and (min-width: 1366px){
    /* xxl */
    
    }
    