@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --color-primary: #FBDA69;
    --color-secondary: #8875E8;
    --color-gray: #F4F4F4;
    --color-black:#170A01;
    --color-white: #fff; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anonymous Pro', monospace;
    font-family: 'Poppins', sans-serif;
}

@media all and (min-width: 200px){
    header  {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 85px;
        padding: 20px 20px;
        z-index: 999;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.5s;
    }

    header .logo {
        max-width: 110px;
    }

    header .menuToggle {
        position: relative;
        width: 40px;
        height: 40px;
        background: url('./assets/icons/hamburguer.svg');
        background-size: 40px;
        background-repeat: no-repeat;
        background-position: center;
    }

    header .navigation {
        display: none;
    }

    main {
        position: relative;
        width: 100%;
        min-height: 100vh;
        padding-top: 85px;
        background: linear-gradient(to right, var(--color-white) 0%, var(--color-white) 42.5%, var(--color-primary) 42.5%, var(--color-primary) 100%);


    }

    .hero-banner {
        position: relative;
        width: 100%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-image {
        position: relative;
        max-width: 100%;
        height: 40%;
        
        
    }

    .hero-image img {
        position: relative;
        width: 80%;
        height: 40vh;
        display: block;
        
        
        
    } 
    
    }
    
    @media all and (min-width: 576px){
    /* sm */
    
    }
    
    @media all and (min-width: 768px){
    /* md */
    
    }
    
    @media all and (min-width: 992px){
    /* lg */
    
    }
    
    @media all and (min-width: 1200px){
    /* xl */
    
    }
    
    @media all and (min-width: 1366px){
    /* xxl */
    
    }
    